body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

#message-container {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Inicialmente escondido */
}

#message-container.show {
    display: block;
    animation: fadeInOut 3s ease-out; /* Animação de fade in e fade out */
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 1;
    }
    10%, 90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.product-section, .cart-section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.cart {
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    max-width: 300px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-item button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.orders-container {
    margin-top: 20px;
}

.order-item {
    margin-bottom: 10px;
}
.order-row {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.order-info {
    flex: 1;
    margin-right: 10px;
}

.order-details {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.order-details span {
    margin-right: 20px;
}
